<form
    class="sede-form"
    (ngSubmit)="guardar()"
>

    <div class="form-header">

        <h2>
            {{ modo === 'crear'
                ? 'Nueva sede judicial'
                : 'Editar sede judicial'
            }}
        </h2>

    </div>


    <div class="form-body">

        <div class="campo">

            <label>
                Nombre
                <span class="obligatorio">*</span>
            </label>

            <input
                type="text"
                [(ngModel)]="formulario.nombre"
                name="nombre"
                maxlength="150"
                required
            >

        </div>


        <div class="campo">

            <label>
                Dirección
                <span class="obligatorio">*</span>
            </label>

            <input
                type="text"
                [(ngModel)]="formulario.direccion"
                name="direccion"
                maxlength="250"
                required
            >

        </div>


        <div class="campo">

            <label>
                Teléfono
                <span class="obligatorio">*</span>
            </label>

            <input
                type="text"
                [(ngModel)]="formulario.telefono"
                name="telefono"
                maxlength="20"
                required
            >

        </div>


        <div class="campo">

            <label>
                Distrito
                <span class="obligatorio">*</span>
            </label>

            <app-distrito-selector
                [distritoSeleccionado]="formulario.distritoId"
                (distritoChange)="formulario.distritoId = $event"
            >
            </app-distrito-selector>

        </div>


        <div class="campo">

            <label>
                Ubicación mapa
            </label>

            <input
                type="text"
                [(ngModel)]="formulario.mapa"
                name="mapa"
                placeholder="URL del mapa"
                (ngModelChange)="actualizarMapa()"
            >

        </div>


        <div
            class="mapa-preview"
            *ngIf="mapaSeguro"
        >

            <iframe
                [src]="mapaSeguro"
                width="100%"
                height="250"
                frameborder="0"
                loading="lazy"
            >
            </iframe>

        </div>

    </div>


    <div class="form-footer">

        <button
            type="button"
            class="btn-cancelar"
            (click)="cancelar()"
            [disabled]="guardando"
        >

            Cancelar

        </button>


        <button
            type="submit"
            class="btn-guardar"
            [disabled]="guardando"
        >

            {{
                guardando
                    ? 'Guardando...'
                    : 'Guardar'
            }}

        </button>

    </div>

</form>