.app-layout {
  margin: 0;
  font-family: 'Segoe UI', Roboto, sans-serif;
  background-color: #f4f7fc;
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
}

/* AREA DE CONTENIDO INTERNO */
.content-body { padding: 30px; flex-grow: 1; }
.breadcrumb { font-size: 12px; color: #64748b; margin-bottom: 10px; }
.section-header { display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px; }
.page-title { font-size: 24px; margin: 0; font-weight: bold; }
.btn-add-new { background: #0b46be; color: white; border: none; padding: 10px 20px; border-radius: 6px; font-weight: 600; cursor: pointer; }
